[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google = "*"
google-generativeai = "*"
torch = "*"
tesseract = "*"
ocrmypdf = "*"
pdftotext = "*"
openai = "*"
PyPDF2 = "*"
pdf2image = "*"
Pillow = "*"
numpy = "*"
easyocr = "*"
tqdm = "*"
pdftotext = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
